tart2ms
tart
tart-tools
disko
numpy
matplotlib
jupyter
notebook
python-casacore
codex-africanus
pyvirtualdisplay
ipython
ipykernel
gdown
tqdm
minio
pandas

# CASA 6.5
casatools==6.5.6.22
casatasks==6.5.6.22
casaplotms==2.1.2
casaviewer==1.8.2
casampi==0.5.3
casashell==6.5.6.22
casadata==2023.6.26
casaplotserver==1.6.1
almatasks==1.7.1
casatestutils==6.5.6.22
casatablebrowser==0.0.32
casalogger==1.0.16
casafeather==0.0.18
protobuf<=3.21

